body {
    background-color: #222527;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
    color: #222527;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 25px;
    color: #222527;
}

h5 {
    text-align: center;
    color: #222527;
}

a {
    color: white;
    font-weight: bold;
    text-align: center;
}

.list {
    text-align: left;
    font-size: 25px;
}

.box {
    width: fill;
    height: 300px;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
}

.h1-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.h3-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.credits-box {
    width: fill;
    height: 270px;
    padding: 10px;
    margin: 10px auto;
    background-color: white;
}

.search-overlay {
    justify-content: flex-start;  
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    text-decoration: none;
    color: inherit;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    text-decoration: none;
    color: inherit;
}

.search-box {
    width: 500px;
    height: 50px;
    padding: px;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
}

.fade {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.list a {
    transition: opacity 0.5s ease;
}
